# Dependencies
node_modules/

# Next.js
.next/
out/


# Production
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage
coverage/
.early.coverage

# TypeScript
*.tsbuildinfo

# Cache
.cache/
.turbo/
.eslintcache

# Vercel
.vercel/

# IDE
.idea/
.vscode/
.agents/

# OS
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo